<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="cifrado" value="0"/>
		<add key="TipoDocumento" value="1"/>
		<add key="TipoEnvioCorreo" value="2"/>
		<add key="EstadoEnvioCorreo" value="3"/>
		<add key="TipoArchivoEnvio" value="4"/>
		<add key="TipoAlerta" value="5"/>
		<add key="TipoMetadata" value="6"/>
		<add key="EstadoProcesoAutomatico" value="7"/>
		<add key="EstadoPagoAutomatico" value="8"/>
		<add key="ParametroEnvioMail" value="9"/>
		<add key="RutaGeneracionArchivos" value="C:\Inetpub\wwwroot\BIFConveniosDES\files\Generados\"/>
		<add key="RutaImportacionArchivos" value="D:\SWBIFCONVENIOS_16012020\bifconveniosDES\files\cargados\"/>
		<add key="RutaDBFBase" value="C:\Inetpub\wwwroot\BIFConveniosDES\foxtemp\"/>
		<add key="ArchivoDBF-AMAZONAS" value="_F_AMAZONAS_26.dbf"/>
		<add key="ArchivoDBF-SIGA" value="_SIGA_TEMPLATE_FINAL.DBF"/>
		<add key="ArchivoDBF-JAEN" value="_F_JAEN_26.dbf"/>
		<add key="ArchivoDBF-CHULUCANAS" value="_F_CHULUCANAS_26.dbf"/>
		<add key="ArchivoDBF-UNICA" value="F_UNICA_DDMMYY.dbf"/>
		<add key="ArchivoDBF-UNFV" value="F_UNFV_DDMMYY.dbf"/>
		<add key="ArchivoDBF-ICA" value="BIF_ICADBF.dbf"/>
		<add key="ArchivoDBF-CAJAMARCA" value="_F_CAJARMARCA_26.dbf"/>
		<add key="ArchivoDBF-SANIGNACIO" value="CAJA_SANIGNACIO.dbf"/>
		<add key="ArchivoDBF-UNMSM6" value="F_UNMSM_DDMMYY6.dbf"/>
		<add key="ArchivoDBF-UNMSM8" value="F_UNMSM_DDMMYY8.dbf"/>
		<!--- informacion de la conexion .net - java -->
		<add key="ipJavaApp" value="127.0.0.1"></add>
		<add key="portJavaApp" value="47049"></add>
		<!-- REQ: GENERACION ARCHIVOS DESCUENTOS  -->
		<add key="SqlExcel" value="select * from [Datos$]"></add>
		<add key="ArchivoDescuentosCampos" value="CUOTA DESCONTADA|FECHA CARGO EN CUENTA|CODIGO TRABAJADOR|MON|NUMERO PRESTAMO|CLIENTE NOMBRE|DOI|IMPORTE CUOTA|TIPO|AÑO|MES"></add>
		<!-- END ADD-->
		<add key="UserArchivoConvenio" value="DOMBIF\MDP11"/>
		<add key="ArchivosConvenio" value="\\serbiffilex64\BIFCONVENIO"/>
		<add key="ArchivoRecepcionConvenio" value="\\serbiffilex64\BIFCONVENIO\RECEPCION"/>
		<add key="Sleep" value="100"/>
		<add key="ipPort" value="9091"/>
		<add key="mailSender" value="jreyes@banbif.com.pe"/>
		<add key="mailTest" value="mmunoz@banbif.com.pe;jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe;rponce@banbif.com.pe;shernandez@banbif.com.pe;kmartinez@banbif.com.pe;gloayzai@banbif.com.pe"/>
		<add key="mailBcc" value="jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe"/>
		<add key="mailCFSubject" value="BIFConvenios - Archivo de Cronograma Futuro (Pruebas nueva version)"/>
		<add key="mailCFSubjectReport" value="BIFConvenios - Reporte: Envío de Nóminas (Generados Automáticamente)"/>
		<add key="mailCFBody" value="Cronograma Futuro para el periodo #1 #2"/>
		<add key="SMTPServer" value="BIFMAIL-DES"/>
		<add key="NotificarA" value="mdp11@banbif.com.pe"/>
		<add key="testOnly" value="1"/>
		<!-- Conexion a Desarrollo -->

		<add key="ConnectionString" value="Data Source=10.30.31.37;Initial Catalog=BIFCONVENIOPRUEBA;Persist Security Info=True;User ID=usr_bifconveniodes;Password={CLAVE}"/>
		<add key="AS400-ConnectionString-Convenios" value="Provider=IBMDA400.DataSource.1;Persist Security Info=True;User ID=IBSDB2;Password={CLAVE};Data Source=10.30.30.150;Protection Level=None;Transport Product=Client Access;SSL=DEFAULT;Force Translate=65535;Default Collection=IBSCYFILES;Convert Date Time To Char=TRUE"/>
		<add key="AS400-ConnectionString-Generales" value="Provider=IBMDA400.DataSource.1;Persist Security Info=True;User ID=IBSDB2;Password={CLAVE};Data Source=10.30.30.150;Protection Level=None;Transport Product=Client Access;SSL=DEFAULT;Force Translate=65535;Default Collection=IBSCYFILES;Convert Date Time To Char=TRUE"/>

		<add key="ENCRIP_SEMILLA" value="!conv3687$#366"/>
		<add key="ConnectionString_PWD" value="D39Obf+4sc2OcRSfhln195mc+DnR7ojn"/>
		<add key="AS400-ConnectionString-Convenios_PWD" value="wOEkq3zsdD8="/>
		<add key="AS400-ConnectionString-Generales_PWD" value="wOEkq3zsdD8="/>

		<add key="mailDefault" value="Convenios@banbif.com.pe"/>
		<add key="mailFuncionarios" value="jreyes@banbif.com.pe;meflores@banbif.com.pe;mdp11@banbif.com.pe"/>
		<add key="mailReporteSubject" value="BIFConvenios - Reportes de Nóminas Automáticas"/>
		<!--<add key="ReportesAutomatico" value="\\serbiffilex64\BIFCONVENIO\REPORTES_AUTOMATICOS"/>-->
		<add key="ReportesAutomatico" value="\\BIF2CONVENIOS10\Archivos Generados\BIFCONVENIO\REPORTES_AUTOMATICOS"/>
	</appSettings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
		<authentication mode="Windows"/>
		<identity impersonate="false"/>
	</system.web>
	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="wsBasicHttpBinding"></binding>
			</basicHttpBinding>
		</bindings>
		
		<services>
			<service name="BIFConvenios.WS.WSBIFConvenios" behaviorConfiguration="WSBIFConveniosBehaviors">
				<!-- This endpoint is exposed at the base address provided by host: http://localhost/WSBIFConvenios.svc -->
				<endpoint binding="basicHttpBinding" contract="BIFConvenios.WS.IWSBIFConvenios" bindingConfiguration="wsBasicHttpBinding" />

				<!-- The mex endpoint is exposed at http://localhost/WSBIFConvenios.svc/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/WSBIFConvenios.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="BIFConvenios.WS.wsAlertasAutomaticas" behaviorConfiguration="wsAlertasAutomaticasBehaviors">
				<!-- This endpoint is exposed at the base address provided by host: http://localhost/wsAlertasAutomaticas.svc -->
				<endpoint binding="basicHttpBinding" contract="BIFConvenios.WS.IWsAlertasAutomaticas" bindingConfiguration="wsBasicHttpBinding" />

				<!-- The mex endpoint is exposed at http://localhost/wsAlertasAutomaticas.svc/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wsAlertasAutomaticas.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="BIFConvenios.WS.wsEnvioAutomatico" behaviorConfiguration="wsEnvioAutomaticoBehaviors">
				<!-- This endpoint is exposed at the base address provided by host: http://localhost/wsEnvioAutomatico.svc -->
				<endpoint binding="basicHttpBinding" contract="BIFConvenios.WS.IWsEnvioAutomatico" bindingConfiguration="wsBasicHttpBinding" />

				<!-- The mex endpoint is exposed at http://localhost/wsEnvioAutomatico.svc/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wsEnvioAutomatico.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="BIFConvenios.WS.wsPagoAutomatico" behaviorConfiguration="wsPagoAutomaticoBehaviors">
				<!-- This endpoint is exposed at the base address provided by host: http://localhost/wsPagoAutomatico.svc -->
				<endpoint binding="basicHttpBinding" contract="BIFConvenios.WS.IWsPagoAutomatico" bindingConfiguration="wsBasicHttpBinding" />

				<!-- The mex endpoint is exposed at http://localhost/wsPagoAutomatico.svc/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wsPagoAutomatico.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="BIFConvenios.WS.wsReportesAutomatico" behaviorConfiguration="wsReportesAutomaticoBehaviors">
				<!-- This endpoint is exposed at the base address provided by host: http://localhost/wsReportesAutomatico.svc -->
				<endpoint binding="basicHttpBinding" contract="BIFConvenios.WS.IWsReportesAutomatico" bindingConfiguration="wsBasicHttpBinding" />

				<!-- The mex endpoint is exposed at http://localhost/wsReportesAutomatico.svc/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/wsReportesAutomatico.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="WSBIFConveniosBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="wsAlertasAutomaticasBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="wsEnvioAutomaticoBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="wsPagoAutomaticoBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="wsReportesAutomaticoBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<!--<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>-->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<add value="WSBIFConvenios.svc"/>
			</files>
		</defaultDocument>
	</system.webServer>

</configuration>